<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Interactive Address Book</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css"/>
        <link rel="shortcut icon" href="img/logo.png">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js' type='text/javascript'></script>
    </head>
    <body>
        <div class="container">
            <h1>30 Rock Interactive Employee Address Book</h1>
            <form>
                <p>
                    Search: <input type='text' name='search' id='livesearch'>
                </p>
            </form>    

            <!-- search area -->

            <!-- container for the generated address book entries -->
            <div class="address-book">
            </div> <!-- .container -->
            <script id='template' type='text/template'>
                <% for (var i = 0; i < Employees.entries.length; i++) { %>
                <div class='person searchable'>
                    <img class="pic" src="<%= Employees.entries[i].pic %>" alt=""/>
                    <div class='details'>
                        <h2 class='name search-this'> <%= Employees.entries[i].first %> <%= Employees.entries[i].last %></h2>
                        <p class='lead title search-this'> <%= Employees.entries[i].title %></p>
                        <p>Department: <span class='dept'> <%= Employees.entries[i].dept %></span></p>
                    </div>
                </div>
                <% } %>
            </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="js/livesearch.js"></script>
        <script src="js/employees.js"></script>
        <script src="js/address-book.js"></script>
    </body>
</html>
